# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# next.js
.next/
out/
build
dist/
storybook-static/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
install-state.gz

# vercel
.vercel

# next-pwa
**/public/workbox**
**/public/sw**
**/public/worker**
**/public/fallback**
**/public/precache**

# rollup
.rollup.cache

# tsconfig
tsconfig.tsbuildinfo

# pnpm
.pnpm-store/

# vite
.vite