@import "tailwindcss";

@theme {
	--color-black: #222;
	--color-hello: green;

	--color-main-10: #14181d;
	--color-main-20: #1b2028;
	--color-main-30: #262e39;
	--color-main-40: #455264;

	--test-one-10: 10px;
	--test-one-20: 20px;
	--test-one-30: 30px;
	--test-one-amazing: 50px;

	--test-five-19: 19%;
}

@utility test-one-* {
	font-size: --value(--test-one-*);
}

@utility test-two-* {
	font-size: --value(integer)px;
}

@utility test-three-* {
	position: --value('static', 'relative', 'absolute', 'fixed', 'sticky');
}

@utility test-four-* {
	font-size: --value([integer])px;
}

@utility test-five-* {
	opacity: --value([percentage]);
  opacity: calc(--value(integer) * 1%);
  opacity: --value(--test-five-*);
}

@utility hide-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}