@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

@tailwind base;
@layer base {
  * {
    @apply text-white;
    @apply font-['Pretendard'];
    @apply text-[14px];
  }
}

@tailwind components;
@tailwind utilities;
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}