@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');
@import "tailwindcss";
@import "@sono-repo/ui/style";

@theme {
  --color-linear-normal: 'linear-gradient(135deg, #232323, #575757)';
  --color-linear-advanced: 'linear-gradient(135deg, #18220b, #304911)';
  --color-linear-rare: 'linear-gradient(135deg, #111f2c, #113d5d)';
  --color-linear-epic: 'linear-gradient(135deg, #261331, #480d5d)';
  --color-linear-legendary: 'linear-gradient(135deg, #362003, #9e5f04)';
  --color-linear-relic: 'linear-gradient(135deg, #341a09, #a24006)';
  --color-linear-ancient: 'linear-gradient(135deg, #3d3325, #dcc999)';
  --color-linear-esther: 'linear-gradient(135deg, #0c2e2c, #2faba8)';
  
  --color-normal: #929292;
  --color-advanced: #74a33c;
  --color-rare: #00b5ff;
  --color-epic: #c200c2;
  --color-legendary: #fb923c;
  --color-relic: #ff6000;
  --color-ancient: #dcc999;
  --color-esther: #2faba8;
  --color-white: #efefef;
}

@layer base {
  * :not(.dangerousHTML *) {
    @apply text-white;
  }

  * {
    @apply font-['Pretendard'];
    @apply text-[14px];
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .dangerousHTML font, .dangerousHTML img {
    @apply inline;
  }
}

